<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<!-- 将com.lcvc.ebuytest3.model.Admin类重新起一个名字Admin，供mybatis的映射文件使用 -->
		<typeAlias alias="Admin" type="com.lcvc.test.model.Admin"/>
		<typeAlias alias="Product" type="com.lcvc.test.model.Product"/>
		<typeAlias alias="ProductType" type="com.lcvc.test.model.ProductType"/>
		<typeAlias alias="Order" type="com.lcvc.test.model.Order"/>

	</typeAliases>

	<mappers>
		<!--注册adminMappe.xml文件 -->
	    <mapper resource="com/lcvc/test/dao/mapper/adminMapper.xml"/>
		<mapper resource="com/lcvc/test/dao/mapper/productMapper.xml"/>
		<mapper resource="com/lcvc/test/dao/mapper/productTypeMapper.xml"/>
		<mapper resource="com/lcvc/test/dao/mapper/orderMapper.xml"/>

	</mappers>


</configuration>  