<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.test.dao.ProductDao">
      <select id="readAll"  resultType="Product">
        select * from product
    </select>

    <insert id="save">
        insert into
        product(id,name,price,productTypeId)
        values(null,#{name},#{price},#{productTypeId})
    </insert>

    <update id="update">
        update product
        <set>
            <if test="productTypeId!=null and productTypeId!=null">productTypeId=#{productTypeId},</if>
            <if test="name!=null and name.length()>0">name=#{name},</if>
            <if test="price!=null and price>0">price=#{price},</if>
            <if test="price!=null and price>0">price=#{price},</if>
        </set>
        where id=#{id}
    </update>

    <select id="get"  resultType="Product">
        select * from product where id=#{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from product where id=#{id}
    </delete>

    <select id="getNumberByProductType" resultType="int">
        select count(id)  from product where productTypeId=#{productTypeId}
    </select>
</mapper>