<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.test.dao.ProductTypeDao">
     <select id="readAll"  resultType="ProductType">
        select * from producttype
    </select>
    <delete id="delete">
        delete from producttype where id=#{id}
    </delete>
    <select id="get"  resultType="ProductType">
        select * from producttype where id=#{id}
    </select>
    <insert id="save">
        insert into producttype(id,dessert,chinese,west,drinks,wine,cold,fish,lce,tea,noodle)
        values(null,#{dessert},#{chinese},#{west},#{drinks},#{wine},#{cold},#{fish},#{lce},#{tea},#{noodle})
    </insert>
    <update id="update">
        update producttype
        set dessert=#{dessert},chinese=#{chinese},west=#{west},drinks=#{drinks},wine=#{wine},cold=#{cold},fish=#{fish},lce=#{lce},tea=#{tea},noodle=#{noodle}
        where id=#{id}
    </update>

</mapper>